<div class="search_engine">
  <%= form_for @search do |f| %>
    <table>
      <tr>
        <td><%= f.label :sales_order_no_equals, "SO No#" %></td>
        <td><%= f.text_field :sales_order_no_equals %></td>
      </tr>
      <tr>
        <td colspan="10" align="right"><%= f.submit 'Search' %></td>
      </tr>
    </table>
  <% end %>
</div>