<div class="title_head">
  <strong style="color:white;">LISITING PAYMENT RECEIVED RECORD</strong>
  <%= search_button %>
</div>
<div><%= render "search_payment_received" %></div>

<div id="container">

    <% if @payment_receiveds.present? %>
      <%= render "listing_payment_receiveds", :payment_receiveds => @payment_receiveds %>
    <% else %>
      <div class="fix_h450" style="padding: 5px;">Not Record Found</div>
    <% end %>

    <%= render "action_payment_received" %>  
      
</div>
