<div class="title_head">
  <strong style="color:white;">LISITING PAYMENT RECEIVED RECORD - KIV</strong>
  <%= search_button %>
</div>
<div><%= render "search_payment_received_kiv" %></div>

<% if @payment_receiveds.present? %>
  <div class="table_background"><%= render "listing_payment_receiveds", :payment_receiveds => @payment_receiveds %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_payment_received_kiv" %>  