<div class="left_icon_tag">
  <% unless action_name == "edit" %>
    <%#= add_row_button("Add Item") %>
    <%= link_to "Add Item", "#", :id => "add_row_button", :class => "k-button font_bold printable_limit" %>
  <% end %>
</div>

<div class="icon_tag">
  <%= link_save_button %>
  <%= link_close_button %>
</div>