<div class="left_icon_tag">
  <%= link_to "Add Item", "#", :id => "add_bottom_row_for_delivery_order", :class => "k-button" %>
</div>

<div class="icon_tag">
  
  <span class="word_opac"><%= link_save_button %></span>
  <%= link_close_button %>
  
</div>