<table id="tabify_datatable" class="zebraLight display">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% ums.each do |unit_measurement| %>
      <tr class="<%= cycle('odd_line', 'even_line') %>" controllerName="<%= controller_name %>" rowsId="<%= unit_measurement.id %>">
        <td></td>
        <td><%= unit_measurement.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>