<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">LISITING UNIT MEASUREMENTS - KIV</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @unit_measurements.present? %>
    <div class="table_background"><%= render "listing_um", :ums => @unit_measurements %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_unit_measurement_kiv" %>
</div>

<%= render "action_unit_measurement_kiv" %>
