<table width="100%">
  <tr>
    <td align="right">
      <%= link_to 'Search', "#", :class => "search_link" %>
    </td>
  </tr>
</table>

<div><%= render "search_unit_measurement_kiv"  %></div>

<div style="background-color:blue"><strong style="color:white;">LISTING KIV - UNIT MEASUREMENTS</strong></div>

<% if @unit_measurements.present? %>
  <%= render "listing_um", :ums => @unit_measurements %>
  <%= render "action_unit_measurement_kiv" %>            
<% else %>
  Not Record Found.
<% end %>

<br/>
