<div style="background-color:blue"><strong style="color:white;">COSTING SHEET FORMULATION DETAILS</strong></div>

<div class="fix_800x450">
  <table>
    <tr>
      <td><b>Code</b></td>
      <td><%= @costing_sheet_formulation.code %></td>
    </tr>
    <tr>
      <td><b>Name</b></td>
      <td><%= @costing_sheet_formulation.name %></td>
    </tr>
    <tr>
      <td><b>Formula</b></td>
      <td><%= @costing_sheet_formulation.formulation %></td>
    </tr>
  </table>
</div>

<div class="icon_tag">
  <%= link_close_button  %>
</div>
