<div class="icon_tag">
  <span id="on_show" showClass="show_without_refresh_page_800x450"><%= not_link_show %></span>
  <span id="on_recover"><%= not_link_recover %></span>
  <%= link_home_button %>
</div>