<%= form_for(@transport) do |f| %>
  <div class="fix_800x450">
    <table>
      <tr>
        <td width="100">Name</td>
        <td><%= f.text_field :name %></td>
      </tr>
    </table>
  </div>

  <div class="icon_tag">
    <%= link_save_button %>
    <%= link_close_button %>
  </div>
<% end %>



