<table id="tabify_datatable" class="zebraLight display">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% trans.each do |transport| %>
      <tr class="<%= cycle('odd_line', 'even_line') %>" controllerName="<%= controller_name %>" rowsId="<%= transport.id %>">
        <td></td>
        <td><%= transport.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>