<%= form_for @search, :url => kiv_transports_path do |f| %>
  <table>
    <tr>
      <td><b><%= f.label :name_contains, "Name" %></b></td>
      <td><%= f.text_field :name_contains, :class => "k-textbox" %></td>
    </tr>
    <tr>
      <td colspan="10" align="right"><%= f.submit 'Search', :class => "k-button" %></td>
    </tr>
  </table>
<% end %>