<div class="search_engine">
  <%= form_for @search, :url => kiv_transports_path do |f| %>
    <table>
      <tr>
        <td><%= f.label :name_contains, "Name" %></td>
        <td><%= f.text_field :name_contains %></td>
      </tr>
      <tr>
        <td colspan="10" align="right"><%= f.submit 'Search' %></td>
      </tr>
    </table>
  <% end %>
</div>