<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">LISTING TRANSPORTS</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @transports.present? %>
    <div class="table_background"><%= render "listing_transport", :trans => @transports %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_transport" %>
</div>

<%= render "action_transport" %> 