
<p>
  <b>Name:</b>
  <%= @inventory_management_system.name %>
</p>

<p>
  <b>Description:</b>
  <%= @inventory_management_system.description %>
</p>


<%= link_to 'Edit', edit_inventory_management_system_path(@inventory_management_system) %> |
<%= link_to 'Back', inventory_management_systems_path %>
