<div class="title_head">
  <strong style="color:white;">CREDIT NOTES DATA</strong>
  <%= search_button %>
</div>
<div><%= render "search_credit_note" %></div>

<% if @credit_notes.present? %>
  <%= render "listing_credit_notes", :credit_notes => @credit_notes %>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_credit_note" %>

