<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">CREDIT NOTES DATA - KIV</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @credit_notes.present? %>
    <div class="table_background"><%= render "listing_credit_notes", :credit_notes => @credit_notes %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_credit_note_kiv" %>
</div>

<%= render "action_credit_note_kiv" %>