<div class="icon_tag">
  
  <%# if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_APPLY ) %>
    <!--span id="on_apply" applyClass="iframe_800x450" ><%#= not_link_apply %></span-->
  <%# else %>
    <%= not_link_apply %>
  <%# end %>
    
  <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PR_REPAIR_SUBMIT_TO) %>
    <!--span id="on_submit_to"><%#= not_link_submit_to %></span-->
    <%= submit_tag "Submit To", :class => "k-button", :confirm => "Are you confirm submit to Vendor Selection?" %>
  <% else %>
    <%= not_link_submit_to %>
  <% end %>
   
  <%= link_home_button %>

</div>