<div class="icon_tag">
  
  <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY_APPLY) %>
    <span id="on_apply_make_po" applyClass="iframe_1600x900"><%= disabled_style("Open") %></span>
  <% else %>
    <span><%= disabled_style("Open") %></span>
  <% end %>
   
  <%= link_close_button %>
</div>