<div class="icon_tag">
  
  <%# if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_ENTRY_APPLY) %>
    <span id="on_add_product_id" applyClass="iframe_1600x900">
      <span class="k-button" style="color: grey; background-color: white;">Apply the Product ID Registration</span>
<%#= not_link_apply %></span>
  <%# else %>
    <%#= not_link_apply %>
  <%# end %>
    
  <span><%= not_link_submit_to %></span>
   
  <%#= link_close_button %>
  <%= link_home_button %>

</div>