<div class="icon_tag">
  
  <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_APPLY) %>
    <span id="on_apply_proposed_vendor" applyClass="iframe_800x600">
      <span class="k-button" style="color: grey; background-color: white;">Add New Sources</span>
    </span>
  <% else %>
    <span><span class="k-button" style="color: grey; background-color: white;">Add New Sources</span></span>
  <% end %>
    
  <% if roles.include?(InventoryManagementSystem::PURCHASE_ORDER_PROPOSED_VENDOR_SUBMIT_TO) %>
    <span id="on_submit_proposed_vendor">
      <span class="k-button" style="color: grey; background-color: white;">Submit to Vendor Selection</span>
    </span>
  <% else %>
    <span><span class="k-button" style="color: grey; background-color: white;">Submit to Vendor Selection</span></span>
  <% end %>
   
  <%#= link_close_button %>
  <%= link_home_button %>

</div>