<%= render "linking" %>

<%= title_head "APPROVED FROM PR" %>

<% if @approved_pr.present? %>
  <div class="table_background"><%= render "details_from_pri", :pr => @approved_pr %></div>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_purchase_order_approved_pr" %>