
<%= render "linking" %>

<div class="title_head"><strong style="color:white;">APPROVED FROM PR</strong></div> 

<% if @approved_pr.present? %>
  <%= render "details_from_pri", :pr => @approved_pr %>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_purchase_order_approved_pr" %>