<%= render "linking" %>
  
<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">PURCHASE ORDERS DATA</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @purchase_orders.present? %>
    <div class="table_background"><%= render "success_approved_from_purchase_requisition_items", :success => @purchase_orders %></div>
  <% else %>
    <div class="tabify_content">No Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
	<%= render "search_po" %>
</div>
  
<%= render "action_purchase_order_transaction" %>