<div class="title_head">
  <strong style="color:white;">LISTING PURCHASE ORDERS - KIV</strong>
  <%= search_button %>
</div>
<%= render "search_po_kiv" %>

<% if @purchase_orders.present? %>
  <div class="table_background"><%= render "/purchase_orders/success_approved_from_purchase_requisition_items", :success => @purchase_orders %></div>
<% else %>
  <div class="content">No Record Found</div>
<% end %>

<%= render "action_purchase_order_transaction_kiv" %>


  

  
