<table width="100%">
  <tr>
    <td><%= link_to 'Search', "#", :class => "search_link" %></td>
  </tr>
</table>

<%= render "search_po_kiv" %>
  
<div style="background-color:blue"><strong style="color:white;">TRANSACTIONS KIV - PURCHASE ORDER</strong></div>

<div class="fix_1600x900">
  <% if @purchase_orders.present? %>
    <%= render "/purchase_orders/success_approved_from_purchase_requisition_items", :success => @purchase_orders %>
  <% else %>
    No Record Found.
  <% end %>
</div>

<%= render "action_purchase_order_transaction_kiv" %>


  

  
