
  <%= render "linking" %>

  <div class="title_head"><strong style="color:white;">PR-REPAIR</strong></div>


    <%# if @maintenance.present? %>
  <% if false %>
      <%= render "pr_repair", :maintenance => @maintenance %>
    <% else %>
      <div class="linking_content">No Record Found</div>
    <% end %>


  <%= render "action_purchase_order_repair" %>