<%= render "linking" %>

<div class="title_head"><strong style="color:white;">PR-REPAIR</strong></div>

<% if @maintenance.present? %>
  <div class="table_color"><%= render "pr_repair", :maintenance => @maintenance %></div>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_purchase_order_repair" %>