<div id="popup_container">
  <%= render "linking" %> 

  <div class="title_head"><strong style="color:white;">PO ENTRY</strong></div>

  <div class="fix_h450">
    <% if @pr_items.present? %>
      <%= render "/purchase_orders/existing_approved_from_purchase_requisition_items", :pending => @pr_items %>
    <% else %>
      No Record Found.
    <% end %>
  </div>

  <%= render "action_purchase_order_make_po" %>
</div>