<%= render "linking" %> 

<%= title_head "PO ENTRY" %>

<% if @pr_items.present? %>
  <div class="table_background"><%= render "/purchase_orders/existing_approved_from_purchase_requisition_items", :pending => @pr_items %></div>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_purchase_order_make_po" %>