<%= render "linking" %> 

<%= title_head "VENDOR SELECTION" %>

<% if @pending_vendor.present? %>
  <div class="table_background"><%= render "/purchase_orders/pending_approval", :pending => @pending_vendor %></div>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_purchase_order_pending_app" %>