<%= render "linking" %>
  
<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">PROPOSED VENDOR</a></li>
</ul>

<div id="tabify_listing">
	<% if @proposed_vendor.present? %>
	  <div class="table_background"><%= render "proposed_vendor_from_purchase_requisition_items", :proposed => @proposed_vendor %></div>
	<% else %>
	  <div class="tabify_content">No Record Found</div>
	<% end %>
</div>

<%= render "action_purchase_order_proposed_vendor" %>
