<%= render "linking" %>
  
<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">VENDOR REGISTRATION</a></li>
</ul>

<div id="tabify_listing">
	<% if @vendor.present? %>
	  <div class="table_background"><%= render "vendor", :pending => @vendor %></div>
	<% else %>
	  <div class="tabify_content">No Record Found</div>
	<% end %>
</div>
  
<%= render "action_purchase_order_vendor_reg" %>