<%= render "linking" %> 

<%= title_head "VENDOR REGISTRATION" %>

<% if @vendor.present? %>
  <div class="table_background"><%= render "/purchase_orders/vendor", :pending => @vendor %></div>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_purchase_order_vendor_reg" %>