<% content_for :head do %>
  <%= javascript_include_tag "knowledges" %>
<% end %>

<%#*<div id="product_tabStrip">%>
    <%#*<ul>%>
        <%#*<li class="k-state-active">non-operation</li>%>
        <%#*<li>operation</li>%>
    <%#*</ul>%>
    <%#*<div>%>
      <%#*<ul id="treeview" style="width: 80%">%>  
        <%# if @non_operation_categories.present? %>
          <%# @non_operation_categories.each do |cat| %> 
            <%#= treeview_with_selection(cat, "") %>
          <%# end %>
        <%# end %>
      <%#*</ul>%> 
    <%#*</div>%>
    <%#*<div>%>
      <%#*<ul id="treeview" style="width: 80%">%>  
        <%# if @operation_categories.present? %>
          <%# @operation_categories.each do |cat2| %> 
            <%#= treeview_with_selection(cat2, "") %>
          <%# end %>
        <%# end %>
      <%#*</ul>%>
    <%#*</div>%>
<%#*</div>%>