<%= title_head "PURCHASE REQUISITION ITEMS DATA - KIV" %>

<% if @purchase_requisition_items.present? %>
  <div class="table_background"><%= render "/purchase_requisitions/listing_purchase_requisition_items", :listing_pri => @purchase_requisition_items %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_purchase_requisition_item_kiv" %> 