<%= render "/home/search_button" %>

<%= render "search_purchase_requisition_item" %>

<div style="background-color:blue"><strong style="color:white;">PURCHASE REQUISITION ITEM</strong></div>

<div class="fix_1600x900">
  <% if @purchase_requisition_items.present? %>
    <%= render "listing_pri", :pri => @purchase_requisition_items %>
  <% else %>
    Not Record Found.
  <% end %>
</div>

<%#= render "action_purchase_requisition" %>  