<div class="left_icon_tag">
  <% unless @vendor.present? %>
    <% if session[:option] == TradeCompany::CUSTOMER %>
      <%= submit_tag "Next New Customer", :class => "k-button font_bold", :id => "left_save_button", :name => "save_and_new_customer" %>
    <% else %>
      <%= submit_tag "Next New Supplier", :class => "k-button font_bold", :id => "left_save_button", :name => "save_and_new_supplier" %>
    <% end %>
  <% end %>
</div>

<div class="icon_tag">
  <%= link_save_button %>
  <%= link_close_button %>
</div>