<!--tr class="contact">
  <%#= fields_for_contact(contact) do |contact_form| %>
    <td><%#= contact_form.text_field :department, :size => 15 %></td>
    <td><%#= contact_form.text_field :name, :size => 15 %></td>
    <td><%#= contact_form.text_field :email, :size => 15 %></td>
    <td><%#= contact_form.text_field :phone_area_code, :size => 1 %>-<%#= contact_form.text_field :phone_no, :size => 8 %></td>
    <td><%#= link_to_function "remove", "$(this).up('.contact').remove()" %></td>
  <%# end %>
</tr-->

