<div class="search_engine">
  <%= form_for @search, :url => customer_trade_companies_path do |f| %>
    <%= render "search_engine_form", :f => f %>
    <%= search_button_with_f(f) %>
  <% end %>
</div>