<div class="title_head">
  <strong style="color:white;">LISITING SUPPLIERS</strong>
  <%= search_button %>
</div>
<div><%= render "search_vendor" %></div>
    
<% if @trade_companies.present? %>
  <div class="table_color"><%= render "listing_trade_company", :trade_company => @trade_companies %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_trade_company_supplier" %>