<table width="100%">
  <tr>
    <td><%= link_to 'Search', "#", :class => "search_link" %></td>
  </tr>
</table>

<div><%= render "search_kiv_vendor"  %></div>

<div style="background-color:blue"><strong style="color:white;">LISTING KIV VENDOR</strong></div>

<div class="fix_1600x900">
  <% if @trade_companies.present? %>
    <%= render "listing_trade_company", :trade_company => @trade_companies %>
  <% else %>
    Not Record Found.
  <% end %>
</div>

<%= render "action_trade_company_kiv" %>



<%#= form_tag trade_companies_path, :method => :get, :remote => true do %>
  <%#*<p>%>
    <%#= text_field_tag "search_trade_company", params[:search_trade_company], :size => 50  %>
    <%#= submit_tag "Search", :name => nil %>
  <%#*</p>%>
<%# end %>
  
<%#*<div id="trade_companies">%>
  <%#= render @trade_companies if @trade_companies.present? %>
  <%#*<br/>%>
<%#*</div>%>
