<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">LISTING CURRENCIES - KIV</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @currencies.present? %>
    <div class="table_background"><%= render "listing_currency", :cur => @currencies %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_currency_kiv" %>
</div>

<%= render "action_currency_kiv" %>  





