<div style="background-color:blue"><strong style="color:white;">SHOW DETAILS</strong></div>

<div class="fix_800x450">
  <p>
    <b>Name:</b>
    <%= @currency.name %>
  </p>	
</div>

<div class="icon_tag">
  <%= link_close_button %>
</div>
