<% if pr.present? %>

  <%= render "listing_purchase_requisition_items", :listing_pri => pr %>

  <div style="float: right; margin-right: 10px;"><b>Sub-Total: </b><%= two_precision(@arr.sum) %></div>

<% end %>

<div class="pr_check_and_submit">
  <% if action_name == "edit" %>
    <%= render "signature_flow_with_button" %>   
  <% elsif action_name == "show" %>
    <%= render "signature_flow_without_button" %>   
  <% end %>
</div>