<% if pick == "both" %>
  <table>
    <tr>
      <td><b>Name</b></td>
      <td>
        <% if purchase_requisition.user.present? %>
          <% if purchase_requisition.user.has_level_three? %>
            <%= User.find(purchase_requisition.user.level_three).name rescue '-' %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><b>Date</b></td>
      <td>PENDING</td>
    </tr>
  </table>
<% elsif pick == "name" %>
  <table>
    <tr>
      <td><b>Name</b></td>
      <td>
        <% if purchase_requisition.user.present? %>
          <% if purchase_requisition.user.has_level_three? %>
            <%= User.find(purchase_requisition.user.level_three).name rescue '-' %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>