<%= render "linking" %>
  
<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">PURCHASE REQUISITIONS DATA</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @purchase_requisitions.present? %>
    <div class="table_background"><%= render "listing_purchase_requisitions", :listing => @purchase_requisitions %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_purchase_requisition" %>
</div>
  
<%= render "action_purchase_requisition" %>