<div id="popup_container">
  <div style="background-color:blue"><strong style="color:white;">LISTING PURCHASE REQUISITIONS - KIV</strong></div>

  <div class="fix_1600x900_h450">
    <% if @purchase_requisitions.present? %>
      <%= render "/purchase_requisitions/summary_from_purchase_requisition", :summary => @purchase_requisitions %>
    <% else %>
      Not Record Found.
    <% end %>
  </div>

  <%= render "action_purchase_requisition_kiv" %> 
</div>