<div class="title_head">
  <strong style="color:white;">LISTING PURCHASE REQUISITIONS - KIV</strong>
  <%= search_button %>
</div>
<div><%= render "search_purchase_requisition_kiv" %></div>

<% if @purchase_requisitions.present? %>
  <%= render "summary_from_purchase_requisition", :summary => @purchase_requisitions %>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_purchase_requisition_kiv" %>