<%= render "linking" %>
  
<div class="title_head"><strong style="color:white;">APPROVE / REJECT PURCHASE REQUISITION TASKS</strong></div>

<% if @user_report.present? %>
  <div class="table_color"><%= render "listing_purchase_requisitions", :listing => @user_report %></div>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_purchase_requisition_signature" %>