<%= render "linking" %>
  
<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">APPROVE / REJECT PURCHASE REQUISITION TASKS</a></li>
</ul>

<div id="tabify_listing">
  <% if @user_report.present? %>
    <div class="table_background"><%= render "listing_purchase_requisitions", :listing => @user_report %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>
  
<%= render "action_purchase_requisition_signature" %>