<div id="popup_container">
  <div class="title_head"><strong style="color:white;">APPROVE / REJECT PURCHASE REQUISITION TASKS</strong></div>

  <div class="fix_1600x900_h450">
    <% if @user_report.present? %>
      <%= render "/purchase_requisitions/summary_from_purchase_requisition", :summary => @user_report %>
    <% else %>
      No Tasks
    <% end %>
  </div>

  <%= render "action_purchase_requisition_signature" %> 
</div>