<%= render "linking" %>

<%= title_head "APPROVE / REJECT PURCHASE REQUISITION TASKS" %>

<% if @user_report.present? %>
  <div class="table_background"><%= render "listing_purchase_requisitions", :listing => @user_report %></div>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_purchase_requisition_signature" %>