<div class="left_icon_tag">
  <%= submit_tag "Next New Inventory", :class => "k-button font_bold", :id => "left_save_button", :name => "save_and_new_inventory" %>
</div>

<div class="icon_tag">
  <%= link_save_button %>
  <%= link_close_button %>
</div>