<div style="float:left;">
  <table width="100%">
    <tr>
      <td>

        <table style="background-color: gold; padding:5px;">
          <tr>
            <td width="100"><b>Product ID</b></td>
            <td>
              <% if inventory_histories.first.present? %>
                <% unless inventory_histories.first.product.product_category.try(:category_type) == ProductCategory::FINISH_GOOD %>
                  <%= render "/product_categories/join_product_category", :pc => inventory_histories.first %>
                <% else %>
                  -
                <% end %>
              <% end %>
            </td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td><b>Description</b></td>
            <td>
              <% if inventory_histories.first.present? %>
                <% unless inventory_histories.first.product.product_category.try(:category_type) == ProductCategory::FINISH_GOOD %>
                  <%= simple_format(inventory_histories.first.product.desc) rescue '-' %>
                <% else %>
                  -
                <% end %>
              <% end %>
            </td>
          </tr>
        </table>

      </td>

      <th style="font-size:30px; color: purple;">
        Current Stock: 
        <%= inventory_histories.first.product.current_stock rescue '-' %>
      </th>
    </tr>
  </table>
</div>