<%= title_head "INVENTORIES DATA" %>
<div><%= render "search_inventory_product_id", :inventory => @inventories.first %></div>

<% if @inventories.present? %>
  <div class="table_background"><%= render "select_inventory", :inventory_histories => @inventories %></div>
<% else %>
  <div class="searching_content">No Record Found</div>
<% end %>

<%= render "action_inventory" %>