<table id="ims_purchase" class="normal_table_black zebraLight">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th width="200">MODULE</th>
      <th width="200">SUB-MODULE</th>
      <th width="50">Add</th>
      <th width="50">Save</th>
      <th width="50">Show</th>
      <th width="50">Edit</th>
      <th width="50">Drop To KIV</th>
      <th width="50">Printer</th>
      <th width="50">Show KIV</th>
      <th width="50">Recover</th>
      <th width="50">Apply</th>
      <th width="50">Submit to</th>
      <th width="50">Send Mail</th>
      <th width="50">Costing Sheet</th>
    </tr>
  </thead>
  
  <tbody>
    <!--PURCHASE-->
    <%= render "/inventory_management_systems/ims_purchase_requisition", :checkboxes => @checkboxes %>
    <%= render "/inventory_management_systems/ims_purchase_order", :checkboxes => @checkboxes %>
    <%= render "/inventory_management_systems/ims_receive_note", :checkboxes => @checkboxes %>
  </tbody>
</table>
