<table id="grid_userTable_h490" class="black-line-table zebraLight">
  <thead>
    <!--tr class="header_line">
      <th class="check_highlight" rowspan="2"></th>
      <th width="150" rowspan="2">MODULE</th>
      <th width="200" rowspan="2">SUB-MODULE</th>
      <th colspan="17">ACTION</th>
    </tr-->

    <tr class="header_line">
      <th class="check_highlight"></th>
      <th width="150">MODULE</th>
      <th width="200">SUB-MODULE</th>
      <th width="50">Save</th>
      <th width="50">Drop to KIV</th>
      <th width="50">Recover</th>
      <th width="50">Create Group</th>
      <th width="50">Edit Group</th>
      <th width="50">Add Sub Group/Product Type</th>
      <th width="50">Edit Sub Group/Product Type</th>
      <th width="50">Add Product ID</th>
      <th width="50">Edit Product ID</th>
    </tr>
  </thead>
  
  <tbody>
    <%= render "/inventory_management_systems/ims_product", :checkboxes => @checkboxes %>  
  </tbody>
</table>