<table id="ims_housekeeping" class="normal_table_black zebraLight ">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th width="150">MODULE</th>
      <th width="200">SUB-MODULE</th>
      <th width="50">Add</th>
      <th width="50">Show</th>
      <th width="50">Edit</th>
      <th width="50">Drop To KIV</th>
      <th width="50">Printer</th>
      <th width="50">Show KIV</th>
      <th width="50">Recover</th>
    </tr>
  </thead>
  
  <tbody>
    <%= render "/inventory_management_systems/ims_company_profile", :checkboxes => @checkboxes %>
    <%= render "/inventory_management_systems/ims_trade_company", :checkboxes => @checkboxes %>
    <%= render "/inventory_management_systems/ims_price_control", :checkboxes => @checkboxes %>
  </tbody>
</table>
