<table>
  <tr>
    <td><b>Name</b></td>
    <td><%= f.text_field :name_contains, :class => "k-textbox" %></td>
  </tr>
  <tr>
    <td><b>Job Title</b></td>
    <td><%= f.text_field :job_title_contains, :class => "k-textbox" %></td>
  </tr>
  <tr>
    <td><b>Department</b></td>
    <td><%= f.select :department_id_equals, options_from_collection_for_select(departments, :id, :name, params[:department_id_equals].to_s), { :include_blank => true }, { :class => "mkendo_combobox", :style => "width:200px;" } %></td>
  </tr>
</table>