<div id="popup_container">

  <div class="title_height">
    <div class="title_font"><strong>LISTING USERS</strong></div>
    <%= search_button %>
  </div>
  
  <div><%= render "search_user" %></div>

  <!--div class="fix_1600x900"-->
  <div id="popup_content">
    <% if @users.present? %>
      <%= render "listing_users", :list_users => @users %>
    <% else %>
      No record found.
    <% end %>
  </div>
  
  <%= render "action_user" %>
</div>
  
