<div class="title_head">
  <strong style="color: white;">LISTING USERS</strong>
  <%= search_button %>
</div>
<div class="search_engine"><%= render "search_user" %></div>

<% if @users.present? %>
  <div class='container'><%= render "listing_users", :list_users => @users %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_user" %>
