<div class="title_head">
  <strong style="color:white;">LISTING USERS - KIV</strong>
  <%= search_button %>
</div>
<div class="search_engine"><%= render "search_user_kiv" %></div>

<% if @users.present? %>
  <%= render "listing_users", :list_users => @users %>
<% else %>
  <div id="content" style="padding: 0px 5px; border: 1px solid grey;">Not Record Found</div>
<% end %>

<%= render "action_user_kiv" %>