<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">LISTING DEPARTMENTS - KIV</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @departments.present? %>
    <div class="table_background"><%= render "listing_department", :dep => @departments %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_department_kiv" %>
</div>

<%= render "action_department_kiv" %>