<table width="100%">
  <tr>
    <td align="right">
      <%= link_to 'Search', "#", :class => "search_link" %>
    </td>
  </tr>
</table>

<div><%= render "search_department_kiv" %></div>

<div style="background-color:blue"><strong style="color:white;">LISTING KIV - DEPARTMENTS</strong></div>

<% if @departments.present? %>
  <%= render "listing_department", :dep => @departments %>
  <%= render "action_department_kiv" %>   
<% else %>
  No Record Found..
<% end %>

<br />




