<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">LISTING TRADE TERMS</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @trade_terms.present? %>
    <div class="table_background"><%= render "listing_trade_term", :tt => @trade_terms %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_trade_term" %>
</div>

<%= render "action_trade_term" %>