<%= form_for @search, :url => info_receive_notes_path do |f| %>
  <table>
    <tr>
      <td><b>Vendor Code</b></td>
      <td><%= f.text_field :trade_company_code_equals, :class => "k-textbox" %></td>
    </tr>
    <tr>
      <td><b>Vendor Name</b></td>
      <td><%= f.text_field :trade_company_name_equals, :class => "k-textbox" %></td>
    </tr>
    <tr>
      <td colspan="10" align="right"><%= f.submit 'Search', :class => "k-button" %></td>
    </tr>
  </table>
<% end %>