<table width="100%">
  <tr>
    <td><%= link_to 'Search', "#", :class => "search_link" %></td>
  </tr>
</table>

<div><%= render "search_engine_receive_notes" %></div>

<div style="background-color:blue"><strong style="color:white;">TRANSACTIONS - RECEIVE NOTES</strong></div> 

<div class="fix_1600x900">
  <% if @receive_notes.present? %>
    <%= render "/receive_notes/success_rn" %>
  <% else %>
    No Record Found.
  <% end %>
</div>

<%= render "action_receive_note" %>