<%= render "linking" %>
  
<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">RECEIVE NOTES COMPLETED</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @po_no.present? %>
    <div class="table_background"><%= render "info", :po_no => @po_no %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_engine_receive_notes_info" %>
</div>
  
<div class="icon_tag">
  <%= link_home_button %>
</div>