<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Delivery order:</b>
  <%= @history_invoice.delivery_order_id %>
</p>


<#= link_to 'Edit', edit_history_invoice_path(@history_invoice) %> |
<%#= link_to 'Back', history_invoices_path %>
 -->