<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">LISTING FORMULATIONS - KIV</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">    
  <% if @formulations.present? %>
    <div class="table_background"><%= render "content", :fmts => @formulations %></div>
  <% else %>
    <div class="tabify_content table_background">No Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%#= render "search_user" %>
</div>

<%= render "action_formulation_kiv" %>

