<div class="title_head"><strong style="color:white;">DOCUMENTATION - PRODUCT</strong></div>

<div class="content">
  When you want to remove product folder, if those product folder inside got many product id, you might not to delete them all because we have many foreign key.
</div>

<div class="icon_tag">
  <%= link_home_button %>
</div>

