<%= title_head "PRODUCT PRICE CONTROLS DATA - CUSTOMERS" %>
<%= render "search_price_control_customer" %>

<% if @product_customers.present? %>
  <div class="table_background"><%= render "customer_price_listing", :lists => @product_customers %></div>
<% else %>
  <div class="searching_content">Not Record Found</div>
<% end %>
  
<%= render "action_index" %>