<div class="title_head">
  <strong style="color: white;">LISTING PRODUCT ID</strong>
  <%= search_button %>
</div>
<div class="search_engine"><%= render "search_combobox" %></div>

<% if @product_comboboxes.present? %>
  <div class="table_background"><%= render "listing_comboboxes", :combobox => @product_comboboxes %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_combobox" %>