<div class="left_icon_tag">
  <% unless action_name == "edit" %>
    <% unless @product.present? %>
        <%= add_row_button("Add Item") %>
    <% end %>
  <% end %>
</div>

<div class="icon_tag">
  <%= link_save_button %>
  <%= link_close_button %>
</div>