<div class="left_icon_tag">
  <% unless action_name == "edit" %>
    <% unless @product.present? %>
      <% if roles.include?(InventoryManagementSystem::PRICE_CONTROL_ADD) %>
        <%= link_to "Add Item", "#", :id => "add_bottom_row_for_price_control", :class => "k-button font_bold" %>
      <% else %>
        <span class="k-button" style = "color: grey; background-color: white; cursor: default;">Add Item</span>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="icon_tag">
  
  <% if roles.include?(InventoryManagementSystem::PRICE_CONTROL_SAVE) %>
    <%= link_save_button %>
  <% else %>
    <%= not_link_save %>
  <% end %>
    
  <%= link_close_button %>
  
</div>