<div class="title_head">
  <strong style="color:white;">PRODUCT PRICE CONTROLS DATA</strong>
  <%= search_button %>
</div>
<div><%= render "search_price_control" %></div>

<% if @price_controls.present? %>
  <div class="table_background"><%= render "listing_price_controls", :listing => @price_controls %></div>
<% else %>
  <div class="linking_content">Not Record Found</div>
<% end %>
  
<%= render "action_price_control_index" %>