<%= title_head "PRODUCT PRICE CONTROLS DATA" %>
<%= render "search_price_control" %>

<% if @price_controls.present? %>
  <div class="table_background"><%= render "listing_price_controls", :listing => @price_controls %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>
  
<%= render "action_price_control_index" %>