<div class="title_head">
  <strong style="color:white;">PRODUCT PRICE CONTROLS DATA - KIV</strong>
  <%= search_button %>
</div>
<div><%= render "search_price_control_kiv" %></div>

<% if @price_controls.present? %>
  <%= render "listing_price_controls", :listing => @price_controls %>
<% else %>
  <div class="linking_content">Not Record Found</div>
<% end %>

<%= render "action_price_control_kiv" %>
