
<div class="icon_tag">

	<%# if roles.include?(InventoryManagementSystem::) %>
    <span id="on_show" showClass="show_without_refresh_page_1600x900"><%= not_link_show %></span>
  	<%# else %>
    <span><%#= not_link_show %></span>
  	<%# end %>
  	<span><%= link_home_button %></span>

<div>