<div id="popup_container">
  <div class="title_head">
    <strong style="color:white;">LISTING TRANSFER NOTES</strong>
    <%= search_button %>
  </div>
  <div><%#= render "" %></div>

  <div class="fix_1600x900_h450">
    <% if @stock_outs.present? %>
      <%= render "listing_transfer_notes", :lists => @stock_outs %>
    <% else %>
      Not Record Found.
    <% end %>
  </div>

  <%= render "action_stock_outs" %>
</div>