<!--div class="title_head">
  <strong style="color:white;">TRANSFER NOTES DATA</strong>
  <%#= search_button %>
</div-->
<!--div><%#= render "" %></div-->

<%= title_head "TRANSFER NOTES DATA - KIV" %>

<% if @stock_outs.present? %>
  <div class="table_background"><%= render "listing_transfer_notes", :lists => @stock_outs %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_stock_outs_kiv" %>