<<<<<<< HEAD
<div style="background-color:blue"><strong style="color:white;">New stock_out</strong></div>


<%= render 'form' %>

<span><%= link_to 'Back', stock_outs_path ,:class => "k-button"%></span>
=======
<div id="popup_container">
  <div class="title_head"><strong style="color:white;">NEW TRANSFER NOTE</strong></div>
  <%= render 'form' %>
</div>
>>>>>>> 4127eef4ca7305cceee9cbb695e58987c99b7269
