/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

table.black-line-table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: none;
	border-color: black;
	border-collapse: collapse;
	background-color: transparent;
}
table.black-line-table th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.black-line-table td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px;
}