/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_tree . 


*/


/*===== ===== SCAFFOLDS STYLE ===== =====*/

* { margin: 0; padding: 0; }

/*table { width: 100%; }*/

html { height: 100%; overflow-y:hidden; }

body {
    height: 100%;
    color: #000; /* background-color: green; */
/*    font-family: Tahoma, arial, helvetica, sans-serif;*/
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 18px; 
}

#page_height { height: 100%; }

/* It is use for addClass in the javascript */
.page_wrapper { overflow: auto; }

/*#container, #popup_container {
    background-color: #fff;
    color: #000;
    font-family: Tahoma, arial, helvetica, sans-serif;
    font-size: 12px;
    min-height: 80%;
    height: 100%;
    height: auto !important;
    margin: auto;
}*/


p, div { margin: 0; }

hr { margin-top: 5px; margin-bottom: 5px; }
/*    border: 1px solid black; */
    

p, ol, ul, td {
/*    font-family: Tahoma, arial, helvetica, sans-serif;*/
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a         { color: #000; }
a:visited { color: #666; }
a:hover   { color: #fff; background-color: orange; }

p#notice {
    background-color: green;
    color: white;
    padding: 5px; }

p#alert {
    background-color: red; 
    color: white;  
    padding: 5px; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }
  
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color:black; }   
/*==================== SCAFFOLDS STYLE (END) =============================================================================*/

/*==================== LOGIN DESIGN ======================================================================================*/
.header_login       { font-size: 30px; padding: 20px; font-weight: bold; background-color: orange; -moz-border-radius: 10px; -webkit-border-radius: 10px; -ms-border-radius: 10px; border-radius: 10px; }
.centered           { position: absolute; top: 30%; left: 40%; }
.centered fieldset  { background: skyblue; padding: 15px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; }
.input_box          { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width: 200px; background: #fff; border: solid 1px transparent; color: #555; padding: 8px; font-size: 13px; }
/*==================== LOGIN DESIGN (END) ================================================================================*/

/*=================================== MENU TOOL =====================================*/
#main_header { 
    padding: 5px; font-weight: bold; /*font-family: Tahoma, arial, helvetica, sans-serif;*/ font-family: 'Open Sans', Arial, sans-serif; font-size: 15px; color:blue;
    background-color: #A6DEFF;
    /* For WebKit (Safari, Chrome, etc) */
    background: #A6DEFF -webkit-gradient(linear, left top, left bottom, from(#288CC8), to(#A6DEFF)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #A6DEFF -moz-linear-gradient(top, #288CC8, #A6DEFF) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#288CC8, endColorstr=#A6DEFF) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#288CC8, endColorstr=#288CC8)" no-repeat;
}

#main_footer {
   position: fixed; left:0px; bottom:0px; 
   width:100%; 
   padding: 5px; /*font-family: Tahoma, arial, helvetica, sans-serif;*/ font-family: 'Open Sans', Arial, sans-serif; font-size: 12px; color:blue;
   background-color: #A6DEFF;
   background: #A6DEFF -webkit-gradient(linear, left top, left bottom, from(#288CC8), to(#A6DEFF)) no-repeat;
   background: #A6DEFF -moz-linear-gradient(top, #288CC8, #A6DEFF) no-repeat;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#288CC8, endColorstr=#A6DEFF) no-repeat;
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#288CC8, endColorstr=#288CC8)" no-repeat;
}

/*#main_menu  { width: auto; }*/
#main_pr    { height: 300px; padding: 10px; /* background-color: #DCF0F7; */  }
#main_qr    { height: 300px; padding: 10px; /* background-color: #C5EFFD; */  display: none; }
/*#menu h2    { font-size: 13px; text-transform: uppercase; padding: 5px 10px; }*/
#menu a:hover { background-color: gold; }
/*=================================== MENU TOOL (END) =====================================*/

/* Table Layout Design */
table th, table td { padding: 0 5px 0 5px; }

/*=================================== WHITE TABLE - 100% width =====================================*/
table.white-line-table {
        width:100%;
	border-width: 1px;
	border-spacing: 0px;
	border-style: none;
	border-color: white;
	border-collapse: collapse;
	background-color: transparent; }

table.white-line-table th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: white;
	background-color: transparent;
        font-size: 12px;
}
        
table.white-line-table td {
	border-width: 1px;
        padding: 1px;
	border-style: solid;
	border-color: white;
	background-color: transparent; }
/*=================================== WHITE TABLE - 100% width (END) =====================================*/
      
/*=================================== BLACK TABLE - 100% width =====================================*/
table.black-line-table {
        width:100%;
	border-width: 1px;
	border-spacing: 0px;
	border-style: none;
	border-color: black;
	border-collapse: collapse;
	background-color: transparent; }

table.black-line-table th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px; }
        
table.black-line-table td {
	border-width: 1px;
        padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px; }
/*=================================== BLACK TABLE - 100% width (END) =====================================*/

/*=================================== BLACK TABLE - without 100% width =====================================*/
table.normal_table_black {
	border-width: 1px;
	border-spacing: 0px;
	border-style: none;
	border-color: black;
	border-collapse: collapse;
	background-color: transparent; }

table.normal_table_black th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px; }
        
table.normal_table_black td {
	border-width: 1px;
        padding: 1px;
	border-style: solid;
	border-color: black;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px; }
/*=================================== BLACK TABLE (END) =====================================*/

/*=================================== White TABLE - without 100% width =====================================*/
table.normal_table_white {
	border-width: 1px;
	border-spacing: 0px;
	border-style: none;
	border-color: white;
	border-collapse: collapse;
	background-color: transparent; }

table.normal_table_white th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: white;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px; }
        
table.normal_table_white td {
	border-width: 1px;
        padding: 1px;
	border-style: solid;
	border-color: white;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 0px; }
/*=================================== BLACK TABLE (END) =====================================*/

#treeview .k-sprite     { background-image: url("/assets/coloricons-sprite.png") }
#treeview .rootfolder   { background-image: url("/assets/treeview_folder.gif") }
#treeview .folder       { background-image: url("/assets/treeview_folder_open.gif") }
#treeview .file         { background-image: url("/assets/treeview_file.gif") }
#treeview .remove_file  { background-image: url("/assets/remove_file.png") }
#treeview .kiv_file     { background-image: url("/assets/remove_file.png") }
#treeview .kiv_folder   { background-image: url("/assets/remove_folder.png") }

.approval_remark{ background-color:red; color:white; padding:5px; width: 450px; }

.opac_icon  { 
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    width: 35px;
    height: 35px; }

.opac_word { color: grey; }

#inline { display:none; }



#run_size, #generate { 
    border-radius: 5px;  /* IE 9*/
    -moz-border-radius: 5px;  /* Safari*/
    -webkit-border-radius: 5px;  /* Chrome 9*/
    background-color: lightgray;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    width: 40px;
    cursor: pointer; }
/*, .generate_button*/

.new_button { 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: pink;
    color: blue;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;   
}

.type_window_patching { display:none; }
.type_varnish { display:none; }
    


.font_bold          { font-weight: bold; }
.header_content     { background-color: #FE9B00; }
.header_title       { background-color: orange; }
.header_line        { background-color: lightsteelblue; }
.odd_line           { background-color: wheat; }
.even_line          { background-color: #e0f8f8; }
/*.footer_line        { background-color: lightgrey; text-align: right; padding-right: 100px; }*/
.green_line         { background-color: #00ff33; }
.yellow_line        { background-color: yellow; }
.red_alert          { color: red; font-weight: bold; /*background-color: red; color: white; font-weight: bold;*/ }
.red_urgent         { border: 3px solid red; }
.red_text           { color: red; font-weight: bold; }
.text_gray          { color: lightgray; }
/*.cube10             { width: 10px; height: 10px; border:none; }*/
.cube35             { width: 35px; height: 35px; border:none; }
/*.cube40             { width: 40px; height: 40px; border:none; }*/
/*.cube50             { width: 50px; height: 50px; border:none; }*/
.left_icon_tag      { float:left; padding: 5px; }
.center_icon_tag    { position: absolute; left: 50%; margin-left: -100px; padding: 5px; }
.icon_tag           { float:right; padding: 5px; }
.underline          { border-bottom: 1px solid black; }
.direct_report      { display: none; }
#get_size           { display:none; float: right; background-color: orange; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding-left:5px; padding-right: 5px; cursor: pointer; }
.padding_10         { padding: 10px; }
.check_highlight    { width: 25px; }
.remove_underline   { text-decoration: none; }
.disabled_button    { padding: 5px; color: grey; background-color: white; cursor: default; border: 1px solid #94C0D2; text-align: center; }
.disabled_menu      { color: grey; background-color: white; cursor: default; border: 1px solid #94C0D2; text-align: left; }


.title_head     { background-color:blue; padding: 0px 5px 0px 5px; }
.search_engine  { display:none; background-color: gainsboro; padding: 10px; position: absolute; right: 0px; z-index: 50;}
.search_link {
    float: right;
    background-color: gainsboro;
    color: brown;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
    font-weight: bold;
/*    border-radius: 5px;   IE 9*/
/*    -moz-border-radius: 5px;   Safari*/
/*    -webkit-border-radius: 5px;   Chrome 9*/
/*    font-size: 12px;*/
}

#fix_height { overflow:auto; height:650px; }

/* new_form */
.fix_1600x900_h450, .fix_h450 {
    border: 1px solid black;
    height: 450px;
    overflow: auto;
}

.fix_h550{
    border: 1px solid black;
    height: 550px;
    overflow: auto;
}

.purchase_form_show{
    border: 1px solid black;
    height: 350px;
    overflow: auto;
}

.new_costingsheet {
/*    border: 1px solid grey;*/
    width: 100%;
    height: 410px;}

.fix_800x450 {
    border: 1px solid black;
    overflow: auto;
    height: 348px;
}

.fix_800x600 {
    border: 1px solid grey;
    overflow:auto;
    height: 450px;
}

.fix_1600x900 {
    border: 1px solid black;
    overflow:auto;
    height: 500px;
}

.fix_1600x900_h550 {
    border: 1px solid black;
    overflow:auto;
    height: 550px;
}



.fix_1600x900_h400 {
    border: 1px solid black;
    overflow:auto;
    height: 400px;
}

.fix_1024x800 {
    border: 1px solid black;
    overflow:auto;
    height: 540px;
}

.fix_1024x800_h450 {
    border: 1px solid black;
    overflow:auto;
    height: 450px;
}

.fix_po_show_listing {
    border: 1px solid black;
    width: auto;
/*    overflow-y:hidden;*/
/*    overflow-x:scroll;*/
    height: 320px;}

.fix_po_new_listing {
    border: 1px solid grey;
    overflow:auto;
    height: 340px;
    width: 99.90%;}

/*#user_strip {*/
/*    width: 100%;*/
/*    height: 550px;*/
/*    border: 1px solid black;*/
/*}*/

/*.user_management {*/
/*    overflow-y: hidden;*/
/*    overflow-x: scroll;*/
/*    width: 100%;*/
/*    height: 500px; */
/*}*/

.user_management_show {
    overflow: auto;
    width: 100%;
    height: 100px;}

.user_show {     
    overflow: auto;
    width: 100%;
    height: 550px; }

.block_box { border: 1px solid black; padding: 5px; background-color: #9aafe5; }

tr.over td{ background: gold; }
tr.selected_row td{ background: gold; }



#company_strip{ width: 99.70%; }

.placeholder { color: #999; font-style: italic; }



.check_picture {
    background-image: url("/assets/checking.png");
}

/* Product Layout */
.product_button     { padding: 5px; }
.product_container  { margin: 5px; height: 450px; overflow: auto; }
#right-pane         { background-color: gainsboro; }


fieldset { border: 1px solid green; padding: 5px; }
legend   { padding-left: 5px; padding-right: 5px; border:1px solid green; color: green; font-weight: bold;  }

/* Quotation Tabbing */
.tabbing_h400 { overflow: auto; }

/* Quotation - Material */
#paper_size {
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid blue;
}

#paper_size_show {
    position: absolute;
    top: 0px;
    left: 0px;
}

#printing_size_show {
    position: absolute;
    top: 0px;
    left: 500px;
}

#sheetbox_height { border: 1px solid black; }

.content, .popup_content, .pr_content, .linking_content, .popup_form_table { padding: 0px 5px; border: 1px solid grey; }

#treeview .k-state-selected { background: white; }
#treeview .k-in             { border: 1px solid white; padding: 1px; }

/* Pagination Style (START) */

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

/* Pagination Style (END) */

/* Table Layout for each column name */
.t_product      { text-align: left; }
.t_description  { text-align: left; }
.t_unit_price   { text-align: right; }
.t_date         { text-align: center; }


