<table>
  <tr>
    <td width="160"><b>Brand</b></td>
    <td><%= f.text_field :custom_stock_code, :class => "k-textbox", :disabled => true %></td>
  </tr>

  <tr>
    <td><b>Category</b></td>
    <td><%= f.text_field :box_part_no, :class => "k-textbox", :disabled => true %></td>
  </tr>

  <tr>
    <td><b>No of Size</b></td>
    <td><%= f.text_field :lot_size_no, :onblur => "dropdown_lotsize(this)", :class => "kendo_precision_0", :disabled => true, :style => "width: 80px;" %></td>
  </tr>

  <tr>
    <td></td>
    <td><span id="lot_size"></span></td>
  </tr>
</table>