<div class="quotation">
  <div style="width: 520px;"><%= render "material_left_layout", :f => f %></div>
  <div style="position: absolute; margin-left: 550px; top: 60px;">
    <div id="paper_size" ></div>
    <div id="printing_size"></div>
  </div>
</div>

