<div class="tabbing_h400">
    
  <table>
    <tr>
      <td width="500"><%= render "material_left_layout", :f => f %></td>
      <td style="padding: 10px; vertical-align: top;">
        <div id="paper_size"></div>
        <div id="printing_size"></div>
      </td>
    </tr>
  </table>
  
</div>




