<div id="popup_container">
  <div id="quotation_form">
    <div class="title_head"><strong style="color:white;">EDITING QUOTATION REQUEST FORM</strong></div>
    <%= render 'form' %>
  </div>
</div>

<%= render "quotation_js" %>
