<%= render "linking" %>
  
<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">QUOTATION REQUISITIONS DATA</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @quotation_request_forms.present? %>
    <div class="table_background"><%= render "listing_quotation_request", :quotations => @quotation_request_forms %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_quotation_request" %>
</div>
  
<%= render "action_quotation_transaction" %>