<div class="title_head">
  <strong style="color:white;">LISTING QUOTATION REQUISITIONS - KIV</strong>
  <%= search_button %>
</div>
<div><%= render "search_quotation_request_kiv" %></div>

<% if @quotation_request_forms.present? %>
  <div class="table_background"><%= render "listing_quotation_request", :quotations => @quotation_request_forms %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>
  
<%= render "action_quotation_kiv_item" %>