<%= render "linking" %>

<div class="title_head"><strong style="color:white;">APPROVE / REJECT QUOTATION REQUEST TASKS</strong></div>

<% if @quotation_request_forms.present? %>
  <div class="table_background"><%= render "listing_quotation_request", :quotations => @quotation_request_forms %></div>
<% else %>
  <div class="linking_content">No Record Found</div>
<% end %>

<%= render "action_quotation_signature" %>