<div class="title_head">
  <strong style="color:white;">
    <% if action_name     == "non_operation" %>
      NON OPERATION
    <% elsif action_name  == "operation" %>
      OPERATION
    <% elsif action_name  == "finish_good" %>  
      FINISH GOODS
    <% else %>
      -
    <% end %>
  </strong>
</div>

<div id="horizontal">
  <div id="left-pane"><%= render "/products/category", :categories => @categories %></div>
  <div id="right-pane"><div id="product_ajax"></div></div>
</div>
  
<%= render "action_product" %>
            
<% content_for :jquery_script do %>
  <script>
      $(document).ready(function() {
          
          $("#horizontal").kendoSplitter({
              panes: [
                  { collapsible: false, size: "40%" },
                  { collapsible: false, size: "60%" }
              ]
          });
                    
          $('a').click(function (event){ 
              var div_class = $(this).parent('div').attr('class');
              
              $('a').each(function(){ $(this).css({ "color": "black", "font-weight": "normal" }); });
              $(this).css({ "color": "blue", "font-weight": "bold" });
              
              if (div_class != 'left_icon_tag'){
                  event.preventDefault(); 
                  
                  $.ajax({
                    url: $(this).attr('href'),
                    success: function(data) {
                      $("#product_ajax").html(data);
                    }
                  })
                  return false;
              }
          });
      });
  </script>
<% end %>
  
