<table>
  <tr>
    <td>Packing Method</td>
    <td><%= f.text_field :packing_method %></td>
  </tr>
  
  <tr>
    <td>Qty Per Pallet</td>
    <td><%= f.text_field :qty_per_pallet %> gsm</td>
  </tr>
  
  <tr>
    <td>Packing Qty</td>
    <td><%= f.text_field :packing_qty %></td>
  </tr>
</table>