<div class="product_button">
  <%= render "finish_goods_top_icon", :data => @listing_categories, :match_field => @field_id %>
</div>

<div class="product_container">
  <%= render "/products/product_details", :data => @listing_categories, :field_id => @field_id %>
</div>