<div align="center" style="width: 200px; position: relative; top: 200px; left: 650px;">
   
  <div class="new_button"><%= link_to "Non-Operation", non_operation_products_path %></div>
  
  <br/>
  
  <div class="new_button"><%= link_to "Operation"    , operation_products_path %></div>
  
</div>