<div align="center" style="width: 200px; position: relative; top: 50%; left: 50%; background-color: skyblue; padding: 50px; margin-top: -100px; margin-left: -100px;">
   
  <%= link_to "Non-Operation", non_operation_products_path, :class => "k-button", :style => "width:150px;" %>
  
  <br/>
  <br/>
  <br/>
  
  <%= link_to "Operation", operation_products_path, :class => "k-button", :style => "width:150px;" %>
  
</div>