<div id="popup_container">

  <div id="example" class="k-content">
  <div id="horizontal">
  <!-- <div id="product_layout" class="easyui-layout" style="width: 100%; height:500px;">  -->
    <!-- <div region="west" split="true" title="Non Operation Product Categories" style="width:600px;"> -->
      <div id="left-pane">
      <div class="pane-content">
      <%= render "/products/category", :categories => @categories %>
      </div>
    </div>
    <!-- </div> -->

    
    <!-- <div region="center" title="Non Operation Product Details" style="padding:5px;background:#eee; width: 100%;"> -->
    <!-- <div id = "loading_products"> -->
    <div id ="right-pane">
      <div id="top-pane">
        <div class="pane-content">
          <%= render "non_operation_top_icon", :data => @listing_categories, :match_field => @field_id %>
          </div>
      </div>
      <br/>
      <div id="bottom-pane">
        <div class="pane-content">
        <%= render "/products/product_details", :data => @listing_categories, :field_id => @field_id %>
        </div>
      </div>
    </div>
      <!-- </div> -->
    <!-- </div>  -->
  <!-- </div>  -->
</div>
</div>

  <div class="icon_tag">
    <%= link_close_button %>
  </div>
</div>

<%# content_for :jquery_script do %>
  <%#*<script>%>
    <%#*$(document).ready(function() {%>
      
    <%#*});%>
  <%#*</script>%>
<%# end %>

<script>
                $(document).ready(function() {
                    $("#vertical").kendoSplitter({
                        orientation: "vertical",
                        panes: [
                            { collapsible: false },
                            { collapsible: false, size: "100px" },
                            { collapsible: false, resizable: false, size: "100px" }
                        ]
                    });

                    $("#horizontal").kendoSplitter({
                        panes: [
                            { collapsible: true, size: "220px" },
                            { collapsible: false },
                            { collapsible: true, size: "220px" }
                        ]
                    });
                });
            </script>

             <style scoped>
                #horizontal {
                    height: 500px;
                    width: 100%;
                    margin: 0 auto;
                }

                #middle-pane { background-color: rgba(60, 70, 80, 0.10); }
                #bottom-pane { background-color: rgba(60, 70, 80, 0.15); }
                #left-pane, #center-pane, #right-pane  { background-color: rgba(60, 70, 80, 0.05); }

                .pane-content {
                    padding: 0 10px;
                }
            </style>