<div id="popup_container">
  <div style="background-color:blue"><strong style="color:white;">SHOW PRODUCT ID</strong></div>

  <div class="fix_1024x800">
    <%= render "read_product_id", :product_id => @product %>
  </div>

  <div class="icon_tag">
    <%= link_close_button %>
  </div>
</div>