<div class="left_icon_tag">
  <%= link_to "Add Item", "#", :id => "add_bottom_row", :class => "k-button font_bold" %>
</div>

<div class="icon_tag">
  
  <%# if roles.include?(InventoryManagementSystem::PR_NEW_SHOW) %>
    <%= link_save_button %>
  <%# else %>
    <!--span class="text_gray"><%#= link_save_button %></span-->
  <%# end %>
  
  <%= link_close_button %>
  
</div>