<div class="left_icon_tag">
  <div id="after_click_trade_company_id"><%= disabled_style "Select Credit Notes" %></div>
</div>
<div class="icon_tag">
  <%= link_save_button %>
  <%= link_close_button %>
</div>