<ul id="j_tabify" class="class_tabify">
  <li class="active"><a href="#tabify_listing">LISITING RECEIPTS</a></li>
  <li><a href="#tabify_search">SEARCH ENGINE</a></li>
</ul>

<div id="tabify_listing">
  <% if @receipts.present? %>
    <div class="table_background"><%= render "listing_receipts", :receipts => @receipts %></div>
  <% else %>
    <div class="tabify_content">Not Record Found</div>
  <% end %>
</div>

<div id="tabify_search">
  <%= render "search_receipt" %>
</div>

<%= render "action_receipt" %>  