<div class="title_head">
  <strong style="color:white;">LISITING RECEIPTS</strong>
  <%= search_button %>
</div>
<div><%= render "search_receipt" %></div>

<% if @receipts.present? %>
  <div class="table_background"><%= render "listing_receipts", :receipts => @receipts %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_receipt" %>  