<div class="fix_1600x900">
  <% if sales_tax_exemptions.present? %>
    <%= render "listing_sales_tax_exemption", :sales_tax_exemptions => sales_tax_exemptions %>
  <% else %>
    Not Record Found.
  <% end %>
</div>