<div id="popup_container">
  <div class="title_head">
    <strong style="color:white;">LISTING SALES TAX EXEMPTION FOR SUPPLIERS</strong>
    <%= link_to 'Search', "#", :class => "search_link" %>
  </div>

  <%= render "search_sales_tax_exemption_supplier" %>

  <%= render "content", :sales_tax_exemptions => @sales_tax_exemptions %>

  <%= render "action_sales_tax_exemption_supplier" %>
</div>