<%= render "/home/search_button" %>

<%= render "search_sales_tax_exemption_kiv_supplier" %>

<div style="background-color:blue"><strong style="color:white;">LISTING SALES TAX EXEMPTION FOR SUPPLIERS - KIV</strong></div>

<%= render "content", :sales_tax_exemptions => @sales_tax_exemptions %>
  
<%= render "action_sales_tax_exemption_kiv_supplier" %>
