
<table>
	<tr>
		<th>1</th>
		<th>1</th>
		<th>1</th>
		<th>1</th>
	</tr>
	
	<tr class="page_break_after">
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
	</tr>
	<tr>
		<td>5</td>
		<td>6</td>
		<td>7</td>
		<td>8</td>
	</tr>
	<tr>
		<td>9</td>
		<td>10</td>
		<td>11</td>
		<td>12</td>
	</tr>
</table>




<style>

table
{
font-family:"Times New Roman";
font-size: 12px;
}
th
{
height:20px;
}

.invoice_layout {
  margin-top: 1.5cm;
  margin-right: 10px;   
  margin-bottom: 10px; 
  margin-left: 10px;
}

.part1 {
  height: 150px;
  /*border-style: solid;*/
  width: 100%;
  margin-left: 2cm;
  margin-bottom: -2cm;
}


.column_1 {
    width: 800px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}


.fix_doi_size {
	width:auto;
	
}

.fix_doi_size th{
	height:50px;
	/*border:1px solid black;*/
}

@media print {
.break_page_after td{
		page-break-after:always;
	}
.break_page_inside {
		page-break-inside:auto;
	}
.break_page_before td{
		page-break-before:always;
	}
}
 

</style>

<script type="text/javascript">
// 	function breakeveryheader(){
// 		var thestyle=(document.forms.myform.mybox.checked)? "always" : "auto"
// 		for (i=0; i<document.getElementsByTagName("H2").length; i++)
// 		document.getElementsByTagName("H2")[i].style.pageBreakBefore=thestyle
// 	}

// </script>