<div id="popup_container">
  <div class="title_head"><strong style="color:white;">Print D/O Invoice </strong></div>

<!-- <input type="checkbox" name="all" id="checkall" />Check All -->
  
 <!--  <div id="user_strip">
  <ul>
      <li class="k-state-active">Search</li>
      <li>show</li>
  </ul>

  <div>
    <%#= form_for @do_so_documentation_report  do |f| %>
      <table>
        <tr>
          <td>Trade Company </td>
          <td><%#= f.text_field :trade_company_contains, :size => 12 %>          
        </tr>
        <tr>
          <%# form_for f.DeliveryOrderItem  %>
          <td>Customer P/O #</td>
          <td><%#= f.text_field :customr_po_contains, :size => 12 , :id=> "kendo_date" %></td>
          
        </tr>
        
        <tr>
        <td><%#= f.submit "Search" %></td>
         </tr>
      </table>
      <%# end %>
    <%# end %>
  </div> -->

  <div><%= render "show_invoice_documentation" %></div>
<!-- </div> -->

   

  <script type="text/javascript">

      // function chkcontrol(doc_ids) {
      //   var total=0;
      //     for(var i=0; i < document.form1.ckb.length; i++){
      //       if(document.form1.ckb[i].checked){
      //       total = total +1;}
      //       if(total > 1){
      //       alert("Please Select only One")
      //       document.form1.ckb[doc_ids].checked = false ;
      //     return false;
      //     }
      //   }
      // } 


  //   // when user updates a checkbox.
  //   $("input:checkbox").change(function(){
 
  //   // total allowed to be checked.
  //   var max_allowed = 1;
 
  //   // count how many checked.
  //   var checked = $("input:checked").size();
 
  //   // perform test.
  //   if ( checked > max_allowed ) {
 
  //       // is more than the max so uncheck.
  //       $(this).attr("checked", false);
 
  //       // display error message.
  //       alert("Please select a maximum of " + max_allowed + " options.");
 
  //   }
 
  // });
  // </script>

  


