
<h3>Purchase Order</h3>
<table>
	<tr>
		<td>Vendor : </td>
		<td>P/O No. :</td>
	</tr>
	<tr>
		<td></td>
		<td>Date :</td>
	</tr>
	<tr>
		<td></td>
		<td>Term :</td>
	</tr>
	<tr>
		<td></td>
		<td>Currency :</td>
	</tr>
	<tr>
		<td>Fax # :</td>
		<td>Revision :</td>
	</tr>
</table>

<p>Attn :</p>

<table>
	<tr>
		<th>No.</th>
		<th>Prod .Code</th>
		<th>Description</th>
		<th>ETA</th>
		<th>Quantity</th>
		<th>Unit Price</th>
		<th>Amount</th>
	</tr>
	<% %>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>

</table>

<table>
	<tr>
		<th ></th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>