
<% if @detail_invoice_documentation_report.present? %>

	<%= render "invoice_documentation" %>

<% elsif @detail_delivery_order_documentation_report.present? %>

	<%= render "delivery_order_documentation" %>

 <% else %>
 	<div> No record found </div>
<% end %>



