<table id="jgrid_linking" class="zebraLight">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>No.</th>
      <th>Customer Name</th>
    </tr>
  </thead>

  <tbody>          
    <% company.each_with_index do |k, index| %>
      <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="quotation_requisition_items" rowsId="<%= k.id %>">
        <td></td>
        <td align="center"><%= index + 1 %></td>
        <td align="center"><%= k.customer_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

