<table id="grid_h445" class="white-line-table zebraLight">
  <thead>
    <tr class="header_line">
      <th class="check_highlight"></th>
      <th>No.</th>
      <th>Customer Name</th>
    </tr>
  </thead>

  <tbody>
    <% num = 1 %>
    
    <% company.each do |k, v| %>
    
      <% if k.present? %>
        <% if v.first.trade_company_id.blank? %>
          <tr class="<%= cycle("odd_line", "even_line") %>" controllerName="quotation_requisition_items" rowsId="<%= v.first.id %>">
            <td></td>
            <td align="center"><%= num %></td>
            <td align="center"><%= k rescue '-' %></td>
          </tr>
        <% end %>
      <% end %>
          
      <% num += 1 %>
    <% end %>
  </tbody>
</table>

