<table>
  <tr>
    <td><b><%= f.label :sales_order_no_equals, "SO No#" %></b></td>
    <td><%= f.text_field :sales_order_no_equals, :class => "k-textbox" %></td>
  </tr>
</table>
<%= search_button_with_f(f) %>