<div id="popup_container">

  <div class="title_head"><strong style="color:white;">CUSTOMER REGISTRATION</strong></div>

  <div class="fix_h450">
    <% if @quotation_request_forms.present? %>
      <%= render "registration_company", :company => @quotation_request_forms %>
    <% else %>
      Not Record Found.
    <% end %>
  </div>

  <%= render "action_customer_registration" %>

</div>