<div class="title_head">
  <strong style="color:white;">SALES ORDERS DATA</strong>
  <%= search_button %>
</div>
<div><%= render "search_sales_orders" %></div>

<% if @sales_orders.present? %>
  <div class="table_background"><%= render "listing_sale_orders", :so => @sales_orders %></div>
<% else %>
  <div class="content">Not Record Found</div>
<% end %>

<%= render "action_so_transaction" %>