<div class="title_head"><strong style="color:white;">PRODUCTION - SALES ORDERS</strong></div>

<div class="fix_1600x900">
  <% if @sales_orders.present? %>
    <%= render "so_production", :so => @sales_orders %>
  <% else %>
    Not Record Found.
  <% end %>
</div>

<%= render "action_so_production" %> 




